body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f0f1fa;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.title h1 {
    margin: 5px;
}

.subTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.add input {
    border: none;
    padding: 12px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.add button {
    color: #fff;
    padding: 16px 20px;
    background-color: #645aed;
    border-radius: 8px;
    cursor: auto;
}

.add button:hover {
    background-color: #5a4bd6;
}

.tarefas {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    gap: 20px;
    min-width: 70vw;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 0px #ccc;
}

.tarefa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70vw;
    padding: 10px 13px;
    box-shadow: 0px 0px 6px 0px #ccc;
    border-radius: 8px;
}

.conteudo {
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

footer {
    display: flex;
    margin: 30px 0;
    color: #95a5a6;
    font-size: 14px;
    justify-content: center;
}